<h1>Show User</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Phone number:</strong>
    <%= @user.phone_number %>
  </li>

</ul>

<span><%= live_redirect "Edit", to: Routes.live_path(@socket, TestRestfulWeb.UserLive.Edit, @user) %></span>
<span><%= live_redirect "Back", to: Routes.live_path(@socket, TestRestfulWeb.UserLive.Index) %></span>
